<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'insider/searches/shared/form', locals: {search: @search} %>
    </div>
  </div>
</div>
