<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h3>Databank</h3>

    <%= flash_messages %>

    <%= form_tag url_for(action: 'create'), class: 'm-t', role: 'form' do %>
      <div class="form-group">
        <input type="text" name="session[username]" class="form-control" placeholder="Username" required="">
      </div>

      <div class="form-group">
        <input type="password" name="session[password]" class="form-control" placeholder="Password" required="">
      </div>

      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
    <% end %>
  </div>
</div>
