<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'insider/searches/shared/form', locals: {search: @search, include_number_of_units: true, skip_square_footage: true} %>
    </div>
  </div>
</div>
